# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
 
# Node
signaling-server/node_modules/ 
remote-peer/node_modules/ 
local-peer/node_modules/ 
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/* 
signaling-server/.vscode/* 
local-peer/.vscode/* 
remote-peer/.vscode/* 


# Miscellaneous
local-peer/.angular/cache
remote-peer/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db 
